<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Interview Project for Roger" />
    <meta itemprop="name" content="Project Roger">

    <base target="_blank">

    <title>The Roger Project</title>
    
    <link rel="favicon" href="/static/sitters/favicon.ico">
    <link rel="stylesheet" href="/static/sitters/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Gochi+Hand" rel="stylesheet">
</head>

<body>
   
    <header>
        <img src="/static/sitters/logo.png">
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>
